@page "/RegistroPlantas"
@using _420BytesClient.DT.Plantas;
@inject IDialogService DialogService

<h3>Registre sus plantas</h3>

<div class="mx-auto" style="max-width: 400px;">
    <MudExpansionPanels>
        @foreach (var iten in Plantas)
        {
               
            <MudExpansionPanel>
                <TitleContent>
                    <div class="d-flex">
                        <MudText>@iten.NombrePlanta</MudText>
                    </div>
                </TitleContent>
                <ChildContent>
                    <MudText>@iten.AmbienteID</MudText>

                </ChildContent>
            </MudExpansionPanel>
        }
    </MudExpansionPanels>
</div>
<MudTooltip>
    <MudFab StartIcon="@Icons.Material.Filled.Add" @onclick="OpenDialog" Color="Color.Secondary" Class="fixed-bottom-right" />
</MudTooltip>

<style scoped>
    .fixed-bottom-right {
        position: fixed;
        bottom: 5%;
        right: 3%;
        z-index: 1000;
    }
</style>
@code
{
    List<Planta2> Plantas = new List<Planta2>();

    bool isOpen;
    private void OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<RegistroPlantaComponent>("Registra tus plantas", options);
    }
    protected async override Task OnInitializedAsync()
    {
       
    }
}