
/* Estilos comunes */
.calendar-container[b-0ub79534gf] {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    font-family: Arial, sans-serif;
    max-width: 100%; /* Evita que se extienda m�s all� del ancho de la pantalla */
}

.calendar[b-0ub79534gf] {
    display: inline-block;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 2vw 0; /* Ajuste del espacio usando vw */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f0f8ff;
    width: 90%; /* Porcentaje del ancho del contenedor padre */
    max-width: 100%; /* Evita que se extienda m�s all� del ancho de la pantalla */
    margin: 0 auto; /* Centra el calendario */
}

.month[b-0ub79534gf] {
    margin-bottom: 1vw; /* Ajuste del espacio usando vw */
    font-size: 3vw; /* Tama�o de fuente relativo */
    font-weight: bold;
    color: #4b4b4b;
}

.navigation[b-0ub79534gf] {
    font-size: 2vw; /* Tama�o de fuente relativo */
    margin-bottom: 1vw;
}

.days-container[b-0ub79534gf] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2vw;
}

.day[b-0ub79534gf] {
    width: 10vw; /* Tama�o relativo del d�a */
    height: 10vw; /* Tama�o relativo del d�a */
    border: 1px solid #4b4b4b;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    padding: 2vw; /* Espaciado relativo del d�a */
    margin: 1vw; /* Margen relativo del d�a */
    cursor: pointer;
    border-radius: 6px;
    color: #4b4b4b;
    background-color: #d9f7be;
}

.selected[b-0ub79534gf] {
    background-color: #37a270;
    border-color: #37a270;
}

/* Media queries para ajustar el dise�o en diferentes tama�os de pantalla */
@media screen and (max-width: 768px) {
    .calendar[b-0ub79534gf] {
        width: 95%; /* Reducir el ancho para pantallas m�s peque�as */
    }

    .month[b-0ub79534gf] {
        font-size: 5vw;
    }

    .navigation[b-0ub79534gf] {
        font-size: 3vw;
    }

    .day[b-0ub79534gf] {
        width: 20vw;
        height: 20vw;
        padding: 3vw;
        margin: 2vw;
    }
}

/* Otras media queries seg�n sea necesario... */
