/* /Components/CalendarioHorizontalComponent.razor.rz.scp.css */

/* Estilos comunes */
.calendar-container[b-0ub79534gf] {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    font-family: Arial, sans-serif;
    max-width: 100%; /* Evita que se extienda m�s all� del ancho de la pantalla */
}

.calendar[b-0ub79534gf] {
    display: inline-block;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 2vw 0; /* Ajuste del espacio usando vw */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f0f8ff;
    width: 90%; /* Porcentaje del ancho del contenedor padre */
    max-width: 100%; /* Evita que se extienda m�s all� del ancho de la pantalla */
    margin: 0 auto; /* Centra el calendario */
}

.month[b-0ub79534gf] {
    margin-bottom: 1vw; /* Ajuste del espacio usando vw */
    font-size: 3vw; /* Tama�o de fuente relativo */
    font-weight: bold;
    color: #4b4b4b;
}

.navigation[b-0ub79534gf] {
    font-size: 2vw; /* Tama�o de fuente relativo */
    margin-bottom: 1vw;
}

.days-container[b-0ub79534gf] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2vw;
}

.day[b-0ub79534gf] {
    width: 10vw; /* Tama�o relativo del d�a */
    height: 10vw; /* Tama�o relativo del d�a */
    border: 1px solid #4b4b4b;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    padding: 2vw; /* Espaciado relativo del d�a */
    margin: 1vw; /* Margen relativo del d�a */
    cursor: pointer;
    border-radius: 6px;
    color: #4b4b4b;
    background-color: #d9f7be;
}

.selected[b-0ub79534gf] {
    background-color: #37a270;
    border-color: #37a270;
}

/* Media queries para ajustar el dise�o en diferentes tama�os de pantalla */
@media screen and (max-width: 768px) {
    .calendar[b-0ub79534gf] {
        width: 95%; /* Reducir el ancho para pantallas m�s peque�as */
    }

    .month[b-0ub79534gf] {
        font-size: 5vw;
    }

    .navigation[b-0ub79534gf] {
        font-size: 3vw;
    }

    .day[b-0ub79534gf] {
        width: 20vw;
        height: 20vw;
        padding: 3vw;
        margin: 2vw;
    }
}

/* Otras media queries seg�n sea necesario... */
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-yg1c5dhgzn] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-yg1c5dhgzn] {
    flex: 1;
}

.sidebar[b-yg1c5dhgzn] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-yg1c5dhgzn] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-yg1c5dhgzn]  a, .top-row[b-yg1c5dhgzn]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-yg1c5dhgzn]  a:hover, .top-row[b-yg1c5dhgzn]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-yg1c5dhgzn]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-yg1c5dhgzn] {
        display: none;
    }

    .top-row.auth[b-yg1c5dhgzn] {
        justify-content: space-between;
    }

    .top-row[b-yg1c5dhgzn]  a, .top-row[b-yg1c5dhgzn]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-yg1c5dhgzn] {
        flex-direction: row;
    }

    .sidebar[b-yg1c5dhgzn] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-yg1c5dhgzn] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-yg1c5dhgzn], article[b-yg1c5dhgzn] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-lp9tkotkie] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-lp9tkotkie] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-lp9tkotkie] {
    font-size: 1.1rem;
}

.oi[b-lp9tkotkie] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-lp9tkotkie] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-lp9tkotkie] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-lp9tkotkie] {
        padding-bottom: 1rem;
    }

    .nav-item[b-lp9tkotkie]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-lp9tkotkie]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-lp9tkotkie]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-lp9tkotkie] {
        display: none;
    }

    .collapse[b-lp9tkotkie] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
