@page "/"
@inject NavigationManager NavigationManager


   <div class="logo-container">
        @* <img src="ruta/a/tu/logo.png" alt="Logo de mi empresa" /> *@
        <img src="/images/logobanner14.png" />
    </div>
    @* <MudAlert  Severity="Severity.Warning">¡Debes tener 18 años para poder usar esta app!</MudAlert> *@
    <LoginComponent></LoginComponent>
<style>
    .logo-container {
        display: flex;
        justify-content: center;
    }

        .logo-container img {
            margin: auto;
            width: 50%;
        }

    .MudAlert {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
@code {
    private bool showLogo = true;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(3000); // Espera 3 segundos
        showLogo = false;

        // NavigationManager.NavigateTo("/Login"); // Reemplaza con la ruta de tu siguiente página
    }
}